$pink: #ff1493;
$green: #00ff00;
$lightblue: #008b8b;
$blue: blue;
$lavender: #e6e6fa;
$black: #000000;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $black;
  background: url(../images/giphyLounge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  text-align: center;
  background: $black;
  opacity: 0.9;
}

p {
  text-align: center;
  font-family: 'pacifico', cursive;
  font-weight: bold;
  font-size: 26px;
  color: $black;
  text-shadow: 0 0 20px #ff1493;
}

img {
  border: solid 1px $black;
  min-width: 480px;
  max-width: 480px;
  min-height: 270px;
  max-height: 270px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.flex-row {
  display: flex;
}

.container {
  overflow: hidden;
}

.gifButton {
  position: relative;
  font-family: 'Pacifico', cursive;
  padding: 10px;
  font-size: 26px;
  float: left;
  margin: 15px;
  color: $lightblue;
  text-shadow: 0 0 20px $blue;
  transition: 0.4s all;
  &:hover {
    cursor: pointer;
    padding: 10px;
    color: $pink;
    text-shadow: 0 0 20px $lavender;
  }
}

#giphyLounge {
  position: relative;
  font-family: 'Sacramento', cursive;
  color: $green;
  text-shadow: 0 0 20px $lavender;
  font-size: 50px;
  margin-bottom: 20px;
  &:after {
    content: attr(data-text);
    position: absolute;
    z-index: -1;
    color: $pink;
    filter: blur(15px);
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $pink;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
  }
}

#gifButtons {
  margin: 40px 20px 0 20px;
}

#addGif {
  margin-top: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 34px;
  background: none;
  border: none;
  color: $green;
  text-shadow: 0 0 20px $lavender;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

#gifs {
  margin-top: 125px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#gifForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin: 20px;
  margin-top: 30px;
  padding: 10px;
}

@media screen and (max-width: 1034px) {
  .flex-row {
    flex-direction: column !important;
    align-items: center;
  }

  .order-1 {
    order: -1;
  }

  .gifItem {
    margin-bottom: 4em;
  }
}
